//====================
//　color
//====================
$bg-color_dark: #ececec;
$bg-color_crimson: #bb1b1b;
$bg-color_white: #fff;

$bg-color_header-active: #d04c4c;
$font-color_header: #303030;
$footer-color: #222;